<% if @model == "user"%>
    <h1>User</h1>
    <table>
        <% @users.each do |user| %>
        <thead>
            <tr>
                <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
                <td><%= user.name %></td>
                <td>フォロー数：<%= user.followings.count %></td>
                <td>フォロワー数：<%= user.followers.count %></td>
                <td>
                  <% unless current_user?(user) %>
                    <div id="follow_form">
                    <% if current_user.following?(user) %>
                      <%= form_for(current_user.following_relationships.find_by(following_id: user.id), html: { method: :delete }) do |f| %>
                        <%= f.submit "フォローを外す", class: "btn btn-large follow-btn" %>
                      <% end %>
                    <% else %>
                      <%= form_for(current_user.following_relationships.build(following_id: user.id)) do |f| %>
                        <div><%= f.hidden_field :following_id %></div>
                        <%= f.submit "フォローをする", class: "btn btn-large btn-primary follow-btn" %>
                      <% end %>
                    <% end %>
                    </div>
                  <% end %>
                </td>
                <td><%= link_to "Show", user_path(user), class: "user_#{user.id}" %></td>
            </tr>
        </thead>
        <% end %>
    </table>

<% elsif @model == "book" %>
    <h2>Book</h2>
    <table>
    <% @books.each do |book| %>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th colspan="3"></th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= link_to user_path(book.user) do %>
                        <%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
                    <% end %>
                </td>
                <td><%= link_to book.title, book_path(book), class: "book_#{book.id}" %></td>
                <td><%= book.body %></td>
                <td>
                <% if book.favorited_by?(current_user) %>
                  <%= link_to book_favorites_path(book), method: :delete do %>
                    <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
                    <%= book.favorites.count %>
                  <% end %>
                <% else %>
                  <%= link_to book_favorites_path(book), method: :post do %>
                    <i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i>
                    <%= book.favorites.count %>
                  <% end %>
                <% end %>
                </td>
                <td>コメント数：<%= link_to "#{book.post_comments.count}", book_path(book.id) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
<% end %>